<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button  size="small"
                  (click)="refreshData()">
        <ion-icon name="refresh" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ "home_page.header.title" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  <ion-segment (ionChange)="toggleFlightType()">
    <ion-segment-button value="arrivals" [checked]="flightType==='A'">
      <ion-label>
        {{ "home_page.type.arrivals" | translate }}
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="departures" [checked]="flightType==='D'">
      <ion-label>
        {{ "home_page.type.departures" | translate }}
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-searchbar showCancelButton="never" debounce="500" placeholder="{{ 'home_page.search' | translate }}"
                 [(ngModel)]="flightSearchString" (ionChange)="refreshData()">
  </ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let flight of allFlights">
      <ion-grid fixed>
        <ion-row>
          <ion-col class="time" size="4">
            {{ flight.scheduledTime }}<br>
            {{ flight.latestTime }}
          </ion-col>
          <ion-col class="flightNumber ion-align-self-center" size="2">
            {{ flight.flightNumber }}
          </ion-col>
          <ion-col class="flightStatus ion-align-self-center">
            {{ flight.status }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
